.form-label {
    @apply block text-sm font-medium text-gray-700 mb-1
}

.form-text {
    @apply mt-2 text-sm text-gray-500
}

.is-valid {
    @apply border-green-500 focus:border-green-500 focus:ring-green-500
}

.is-invalid {
    @apply border-red-500 focus:border-red-500 focus:ring-red-500
}

.invalid-feedback {
    @apply mt-2 text-sm text-red-600
}